.cart-container{
  background-color: black;
  font-size: 12px;
  color: white;
  max-width: 400px;
  max-height: 400px;
  padding: 10px;
  margin-right: 20px;
  position: absolute;
  right: 0;
  overflow: scroll;
  z-index: 1;
}

.cart-container::-webkit-scrollbar {
  display: none;
}

/* .btn-cartReset{
  border: none;

} */