.product-container{
 border: 2px solid white;
 padding: 10px;
}

.cart-image{
  height: 100px;
  width: 100px;
}
.btn-cart-remove{
  font-size: 30px;
}
.small-font{
  font-weight: 400;
  font-size: 12px;
}