.freatures-container{
  margin-top: 65px;
  width: 75%;
  border: 3px solid rgb(88, 88, 88);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.single-feature{
  color: rgb(61, 61, 61);
}