.swiper-main-container{
  margin-top: 56px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 75vh;
  /* max-width: 80vh; */
}
.slider-image{
  width: 100%;
  height: 100%;
}