.navbar-header-container{
  background-color: #414141cc;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-header-container:hover{
  background-color: black;
  transition: 300ms ease-in-out;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 16px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

button{
  font-size: 16px;
  color: white;
  background-color: inherit;
}