.single-job-container{
    /* border: 2px solid rgb(199, 199, 199); */
    border-top: 5px solid rgb(199, 199, 199);
    border-bottom: 5px solid rgb(199, 199, 199);
    border-left: 2px solid rgb(199, 199, 199);
    border-right: 2px solid rgb(199, 199, 199);
    border-radius: 5px;
    
}