#footer {
  /* position: relative;
  bottom: 0; */
}

.footer-background-color{
  margin-top: 50px;
  color: #717171;
  background-color:#222;
}

.footer-font{
  font-size: 12px;
}
h6{
  color: white;
}
span{
  color: #717171;
}
p{
  text-align: justify;
  text-justify: inter-word;
}

ul li a{
  font-size: 12px;
  color: #717171;
  text-decoration: none;
  transition: 600ms ease-in-out;
}

ul li a:hover{
  color: rgb(255, 68, 43);
  padding-left: 10px;
}

.social-media-btn a{
color: #717171;
}
.social-media-btn a:hover{
  color: rgb(255, 68, 43);
}