#footer {
  position: relative;
  bottom: 0;
}

.footer-background-color{
  margin-top: 50px;
  color: white;
  background-color: rgb(4, 76, 209);
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: rgb(255, 247, 0);
}